body{
    font-family:Arial;
    background:#f4f4f4;
    text-align:center;
}

.card{
    background:white;
    display:inline-block;
    width:220px;
    padding:20px;
    margin:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

button{
    padding:10px;
    cursor:pointer;
}

li{
    margin:10px;
}